<%- console.log(tableData) %>

<table id="example" class="table">
	<thead>
		<tr>
			<th>Hostname</th>
			<th>IP-адрес</th>
			<th>Пользователь</th>
			<th>Редактирование</th>
			<th>Удалить</th>
		</tr>
	</thead>
	<tbody>
		<% tableData.forEach(item => { %>
		<tr>
			<td><%= item.hostname %></td>
			<td><%= item.ip %></td>
			<td><%= item.name %></td>
			<td>
				<form action="/editasset/<%= item.id %> " method="get">
					<button type="submit">Изменить</button>
				</form>
			</td>
			<td>
				<form action="/deleteasset/<%= item.id %> " method="get">
					<button type="submit">Удалить</button>
				</form>
			</td>
		</tr>
		<% }); %>
	</tbody>
	<br />
</table>

<form action="/addasset" method="get">
	<button type="submit">Добавить ассет</button>
</form>
