<div class="w3-container w3-teal">
	<h2>Изменение пользователя</h2>
</div>

<form action="/user/edit/<%= aUser[0].id %> " method="post" class="w3-container">
	<label class="w3-text"><b>Имя: </b></label>
	<input type="text" name="name" value="<%=aUser[0].name %>" class="w3-input w3-border w3-light-grey"/>
	<label class="w3-text"><b>Отдел: </b></label>
	<select name="department_id" class="w3-select w3-border w3-light-grey">
		<% departments.forEach(dep => { %>			
			<option 
				<% if (aUser[0].department_id == dep.id) { %> 
					selected
				<% } %>
			value="<%= dep.id %> "> <%= dep.name %>  
			</option>
		<% }); %>
	</select>
	<label class="w3-text"><b>Должность: </b></label>
	<input type="text" name="position" value="<%=aUser[0].position%>" class="w3-input w3-border w3-light-grey"/><br />
	<button type="submit" class="w3-btn w3-blue-grey">Изменить ассет</button>
</form>
